.controls {
  position: fixed;
  height: 90px;
  left: 0;
  bottom: 0;
  right: 0;
  background: white;
  box-shadow: 0 0 8px rgba(0,0,0,.4);
  text-align: center;
  line-height: 90px;
  z-index: 10000;

  .play-toggle {
    display: inline-block;
    font-size: 68px;
    color: #F3452B;
    margin: 10px 0;
    cursor: pointer;
    vertical-align: middle;
  }

  .player-control {
    display: inline-block;
    font-size: 28px;
    vertical-align: middle;
    color: #212121;
    margin: 10px 0;
    cursor: pointer;
  }

  .progress {
    height: 4px;
    position: absolute;
    top: 0;
    left: 0;
    background: #F3452B;
    margin: 0;
    border-radius: 0;
    transition: width 0.1s linear;
  }
}

.volume-wrapper {
  position: absolute;
  right: 10px;
  top: 40px;
  width: 250px;

  .cant-edit & {
    right: auto;
    margin-left: -125px;
    left: 50%;
  }

  .volume-container {
    width: 200px;
    position: absolute;
    right: 10px;
  }

  .noUi-background {
    background: #212121;
  }

  .noUi-handle {
    background: #F3452B;
  }

  i.material-icons {
    position: absolute;
    left: 0;
    font-size: 30px;
    color: #212121;
    top: -7px;
    cursor: pointer;
  }
}
