.player-wrapper {
  margin-bottom: 100px;
}

#video-search {
    margin-bottom: 90px;

    .modal-content {
        border-radius: 0;
    }
}

.player-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 390px;
}

.search-trigger {
    position: absolute;
    right: 10px;
    margin-top: -40px;
}

.main-player {
  width: 100%;

  iframe {
    width: 100%;
  }
}

.background-wrapper {
  transform: scale(1.2);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: black;
}

.background-drop {
  background-size: cover;
  background-size: 100% 300%;
  background-position-y: 30%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  filter: blur(30px);
}
