.player-wrapper {
  margin-bottom: 100px;
}

#video-search {
    margin-bottom: 90px;

    .modal-content {
        border-radius: 0;
    }
}

.search-trigger {
    position: absolute;
    right: 10px;
    margin-top: -40px;
}


.volume-wrapper {
    position: absolute;
    right: 10px;
    top: 40px;
    width: 250px;

    .volume-container {
      width: 200px;
      position: absolute;
      right: 10px;
    }

    .noUi-background {
      background: #212121;
    }

    .noUi-handle {
      background: #F3452B;
    }

    i.material-icons {
      position: absolute;
      left: 0;
      font-size: 30px;
      color: #212121;
      top: -7px;
      cursor: pointer;
    }
}

.main-player {
  width: 100%;

  iframe {
    width: 100%;
  }
}

.background-drop {
  background-size: cover;
  background-position-y: -30vh;
  position: fixed;
  top: -50px;
  left: -50px;
  right: -50px;
  bottom: -50px;
  filter: blur(30px);
}
