.player-wrapper {
  margin-bottom: 100px;
}

#video-search {
    margin-bottom: 90px;

    .modal-content {
        border-radius: 0;
    }
}

.player-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 390px;
}

.search-trigger {
    position: absolute;
    right: 10px;
    margin-top: -40px;
}

.main-player {
  width: 100%;

  iframe {
    width: 100%;
  }
}

.background-drop {
  background-size: cover;
  background-position-y: -30vh;
  position: fixed;
  top: -50px;
  left: -50px;
  right: -50px;
  bottom: -50px;
  filter: blur(30px);
}
