.video-entry {
  padding: 20px;
  margin-bottom: 0;
  cursor: pointer;
  position: relative;

  .index-indicator {
    display: inline;
  }

  .play-icon {
    display: none;
    position: relative;
    left: -8px;
  }

  .more-icon {
    position: absolute;
    right: 10px;
  }

  &:hover {
    background: #EEEEEE;

    .index-indicator {
      display: none;
    }
    .play-icon {
      display: inline;
    }
  }

  &--active {
    background: #F56A22;
    color: white;
    font-weight: bold;

    &:hover {
      background: #F56A22;
    }
  }
}

.more-menu {
  position: absolute;
  right: 0;
  z-index: 10;
  background: white;
  width: 200px;
  padding: 10px 0;

  ul {
    list-style: none;
    margin: 0;
  }

  li {
    margin: 0;
    padding: 10px 20px;
    color: black;
    font-weight: normal;

    &:hover {
      background: #eeeeee;
    }
  }
}
